Port __PORT__
AddressFamily any
ListenAddress 0.0.0.0
ListenAddress ::
PermitRootLogin no
PubkeyAuthentication yes
PasswordAuthentication yes
PermitEmptyPasswords no
ChallengeResponseAuthentication no
UsePAM yes
X11Forwarding no
PrintMotd no
AcceptEnv LANG LC_*
#Subsystem sftp	/usr/lib/openssh/sftp-server